#########################################################################################################
#                                                                                                       #
# THIS FILE SHOULD BE PLACED UNDER /etc/ssmtp/                                                          #
# YOU NEED TO ADD THE RIGHT CREDENTIALS TO YOUR SMTP SERVER. IN THIS                                    #
# CASE HERE, WE USE THE COMMAND WITH A MICROSOFT ACCOUNT AND THE BELOW YOU                              #
# CAN SEE WHICH STRINGS YOU SHOULD REPLACE WITH YOUR CREDENTIALS.                                       #
#                                                                                                       #
# Change the following string(s):                                                                       #
# -> 'YOUR-OFFICE365-EMAIL-ADDRESS'                                                                     #
#     (Change it to: to your own office 365 email address. The same one you specified in ssmtp.config.  #
#                                                                                                       #
# -> 'YOUR-OFFICE365-EMAIL-PASSWORD'                                                                    #
#     (Change it to: to the password you have for your email address.                                   #
#                                                                                                       #
#########################################################################################################

# The user that gets all the mails (UID < 1000, usually the admin)
root=YOUR-OFFICE365-EMAIL-ADDRESS      #Note that you need to put in your credentials in here

# The mail server (where the mail is sent to), both port 465 or 587 should be acceptable
mailhub=smtp.office365.com:587

# The address where the mail appears to come from for user authentication.
rewriteDomain=office365.com

# The full hostname.  Must be correctly formed, fully qualified domain name or GMail will reject connection.
hostname=localhost

# Username/Password
AuthUser=YOUR-OFFICE365-EMAIL-ADDRESS           #Note that you need to put in your credentials in here
AuthPass=YOUR-OFFICE365-EMAIL-PASSWORD          #Note that you need to put in your credentials in here 
AuthMethod=LOGIN

# Use SSL/TLS before starting negotiation
#TLS_CA_FILE=/etc/ssl/certs/ca-certificates.crt
UseTLS=YES
UseSTARTTLS=YES

# Email 'From header's can override the default domain?
FromLineOverride=YES